<head>
    <style>
        body {margin: 0;}
        ul {
            padding: 0;
            margin: 0;
            display: flex;
	        text-align: center;
        }   
        ul li {
            color: white;
            list-style-type:none;
            padding:2px;
            width:100%;
            font-family: Calibri, sans-serif;
            font-size: 12px;
            -webkit-font-smoothing: antialiased;
        }
        ul li img {
            height:12px;
        }
    </style>
</head>
<body>
    <ul class="ticker upper-ticker">
        <li>Vol: {{ data.vol }}</li>
        <li>Supply: {{ data.supply }}</li>
        {% for key, value in data.fiat.items() %}<li><img src="/static/img/flags/{{ key[:2] }}.svg"  /> {{ key|upper|safe}}: {{ value }}</li>{% endfor %}
    </ul>
    <ul class="ticker lower-ticker">
        {% for key, value in data.erc20.items() %}<li><img src="/static/img/crypto/{{ key }}.svg"/> {{ key|upper }}: ${{ value }}</li>{% endfor %}
    </ul>
</body>